# AWS Credentials
Saturdays/Config/AWSConfig.swift
AWSConfig.swift
*/AWSConfig.swift
**/AWSConfig.swift


# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata/
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/

# Other
.DS_Store
